@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('~@/static/iconfont/iconfont.ttf?t=1744123226168') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duanxin:before {
  content: "\e647";
}

.icon-dianping:before {
  content: "\e653";
}

.icon-fuzhi:before {
  content: "\e656";
}

.icon-geren:before {
  content: "\e657";
}

.icon-guanbi:before {
  content: "\e659";
}

.icon-kanguo:before {
  content: "\e65e";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-youji:before {
  content: "\e675";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-xitongcaidan:before {
  content: "\e696";
}

.icon-zonghe:before {
  content: "\e69e";
}

.icon-fenxiang:before {
  content: "\e6a5";
}

.icon-bianji:before {
  content: "\e6b0";
}

.icon-xiayibu:before {
  content: "\e6ba";
}

.icon-shoucangfill:before {
  content: "\e6c9";
}

.icon-tixing:before {
  content: "\e6cc";
}

.icon-ziyouanpai:before {
  content: "\e6ec";
}

.icon-fasong:before {
  content: "\e604";
}

.icon-tiaojieqitiaojie:before {
  content: "\e688";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-chatou:before {
  content: "\ec77";
}

.icon-baocun:before {
  content: "\e6bf";
}

.icon-feiquanping:before {
  content: "\e610";
}

.icon-ziyuan:before {
  content: "\e622";
}

.icon-paixu-sanheng:before {
  content: "\e64b";
}

.icon-shangxiajiantou:before {
  content: "\e7cd";
}

.icon-quanping:before {
  content: "\e658";
}

.icon-pintu:before {
  content: "\e6c1";
}

.icon-shangxiajiantou1:before {
  content: "\e501";
}

.icon-banping:before {
  content: "\e81a";
}

.icon-dengpao:before {
  content: "\e552";
}

.icon-saozhou:before {
  content: "\e65f";
}

.icon-chuangkoucaozuo:before {
  content: "\e78e";
}

